body{
    background-color: rgb(173, 216, 230);
}
h1{
    font-size: 60px;
    color: rgb(0, 0, 139);
    text-align: center;
}
P{
font-size: 30px;
color: rgb(0, 0, 0);
text-align: justify;
}
img{
    width: 300PX;
    height: 300px;
    margin: 30px;
    margin-left: 130px;
}

